@{
    ViewData["Title"] = "Game";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Racing Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/game.css" />
</head>
<body>
    <div id="myContainer">
        <div id="generalText">
            <label id="username-label">Ingelogd als: @ViewBag.Username</label><br />
            <label id="role-label">Je bent een @(ViewBag.Role?.ToString().ToLower())e speler</label>
            <div id="controls-text">
                <label>Controls:</label><br />
                <label>W / &#8593 = vooruit</label><br />
                <label>S / &#8595 = achteruit</label><br />
                <label>A / &#8592 = links</label><br />
                <label>D / &#8594 = rechts</label><br />
                <label>Spatie = handrem</label><br />
                @if ((string)ViewBag.Role == "Betaald")
                {
                    <label>Shift = boost</label>
                }
            </div>
        </div>

        <div id="phaser-container"
             data-username="@ViewBag.Username"
             data-role="@ViewBag.Role"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.85.2/dist/phaser-arcade-physics.min.js"></script>
    <script src="~/js/Racinggame.js"></script>
</body>
</html>