@{
    ViewData["Title"] = "Welkom";
}

<h2>Welkom bij de Racing Game</h2>

<p>Kies een optie:</p>

<a href="@Url.Action("Login")">Inloggen</a>
<br />
<a href="@Url.Action("Register")">Registreren</a>
