/*mobile version*/

.page {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.personalia {
    background-color: #192937ff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-left {
    background-color: #0d1821ff;
    width: 100%;
}

.profile-right {
    background-color: #0d1821ff;
    width: 100%;
}

.person-logo {
    border: 4px solid rgba(39, 140, 39, 0.96);
    border-radius: 50%;
    margin: 15px 0px 15px 0px;
    width: 20%;
    animation: glow 3s ease alternate;
}

.profile-content {
    padding: 15px;
    font-size: 20px;
    color: #f7fff6ff;
}

.profile-content__category-title {
    color: #39ff14ff;
}

.profile-content__category--hidden-mobile {
    display: none;
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}

.profile-content__element--hidden-mobile {
    display: flex;
    flex-direction: column;
    display: none;
}

.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
    color: rgba(39, 140, 39, 0.96);
}

.profile-content__period {
    display: none;
}

.profile-content__institute {
    /*    color: rgba(39, 140, 39, 0.96);*/
    margin-top: 0px;
    font-size: 14px;
}

.profile-content__period {
    font-size: 12px;
    color: #0072bbff;
    display: flex;
}

.profile-content__element-header {
    height: 50px;
}

.person-name {
    color: #f7fff6ff;
}

/*pc version*/
@media only screen and (min-width: 800px) {
    .page {
        flex-direction: row;
    }

    .person-name {
        order: -1;
    }

    .profile-content__category--hidden-mobile {
        display: flex;
        flex-direction: column;
    }

        /*fix: anders als stipje zichtbaar*/
        .profile-content__category--hidden-mobile hr {
            width: 100%;
        }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header {
        display: flex;
        justify-content: space-between;
        height: initial;
    }

    .profile-content__element-list-colomns {
        display: flex;
        justify-content: space-evenly;
    }

    .profile-content__element-list-colomn {
        /*        display: flex;*/
        width: 200px;
    }
}


/*student uitwerking*/

/* CSS HEX */
/*--neon-green: #39ff14ff;
--mint-cream: #f7fff6ff;
--french-blue: #0072bbff;
--black: #070707ff;
--rich-black: #0d1821ff;*/

/* CSS HSL */
/*--neon-green: hsla(111, 100%, 54%, 1);
--mint-cream: hsla(113, 100%, 98%, 1);
--french-blue: hsla(203, 100%, 37%, 1);
--black: hsla(0, 0%, 3%, 1);
--rich-black: hsla(207, 43%, 9%, 1);*/

/* SCSS HEX */
/*$neon-green: #39ff14ff;
$mint-cream: #f7fff6ff;
$french-blue: #0072bbff;
$black: #070707ff;
$rich-black: #0d1821ff;*/

/* SCSS HSL */
/*$neon-green: hsla(111, 100%, 54%, 1);
$mint-cream: hsla(113, 100%, 98%, 1);
$french-blue: hsla(203, 100%, 37%, 1);
$black: hsla(0, 0%, 3%, 1);
$rich-black: hsla(207, 43%, 9%, 1);*/

/* SCSS RGB */
/*$neon-green: rgba(57, 255, 20, 1);
$mint-cream: rgba(247, 255, 246, 1);
$french-blue: rgba(0, 114, 187, 1);
$black: rgba(7, 7, 7, 1);
$rich-black: rgba(13, 24, 33, 1);*/

/* SCSS Gradient */
/*$gradient-top: linear-gradient(0deg, #39ff14ff, #f7fff6ff, #0072bbff, #070707ff, #0d1821ff);
$gradient-right: linear-gradient(90deg, #39ff14ff, #f7fff6ff, #0072bbff, #070707ff, #0d1821ff);
$gradient-bottom: linear-gradient(180deg, #39ff14ff, #f7fff6ff, #0072bbff, #070707ff, #0d1821ff);
$gradient-left: linear-gradient(270deg, #39ff14ff, #f7fff6ff, #0072bbff, #070707ff, #0d1821ff);
$gradient-top-right: linear-gradient(45deg, #39ff14ff, #f7fff6ff, #0072bbff, #070707ff, #0d1821ff);
$gradient-bottom-right: linear-gradient(135deg, #39ff14ff, #f7fff6ff, #0072bbff, #070707ff, #0d1821ff);
$gradient-top-left: linear-gradient(225deg, #39ff14ff, #f7fff6ff, #0072bbff, #070707ff, #0d1821ff);
$gradient-bottom-left: linear-gradient(315deg, #39ff14ff, #f7fff6ff, #0072bbff, #070707ff, #0d1821ff);
$gradient-radial: radial-gradient(#39ff14ff, #f7fff6ff, #0072bbff, #070707ff, #0d1821ff);*/
